body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #F8F8F8;
}

#content
{
    width : 900px;
    margin: auto;
}

#header
{
    margin: 0px 0px 5px 0px;
}

#footer
{
    margin: 0px
}

#clear
{
    clear : both;
}

/* Inscription */
.tete
{
    width : 350px;
    margin: auto;
    border: 2px solid #C0C0C0;
}

.inscription, .connexion
{
    padding: 15px;
    width: 360px;
    margin: auto;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    background-color: #C0C0C0;
    box-shadow: 2px 2px 20px #C0C0C0;
}

.inscription input[type=text], .inscription input[type=date], .inscription input[type=password], .inscription input[type=email]
{
    width: 170px;
    padding-left: 10px;
}

.inscription label
{
    width: 150px;
}

#creationEvent input[type=text],
#creationEvent input[type=date],
#creationEvent input[type=email],
#creationEvent input[type=time],
#creationEvent select
{
    width: 180px;
    margin-right: 20px;
}

#creationEvent label
{
    width: 140px;
}

#tabCreationEvent tr
{
    padding: 10px;
}

#formInscription
{
    margin : 10%;
    width : 700px;
}


fieldset
{
    padding : 30px;
}

/* Datepicker */
.ui-widget
{
    font-size: 0.9em !important;
}

.date
{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 6px 3px;
    text-align: center;
    width: 140px;
}

/* Page profil */
#photoProfil
{
    width : 150px;
    height: 150px;
    margin : 10px;
    float : left;
}

#infosProfil
{
    float : left;
}

.titre
{
    text-align: center;
    border : solid 1px black;
    padding : 10px;
}

#infosComplementaires
{
    margin : 0px 0px 10px 0px;
    width:100%;

}
#agenda
{
    padding : 20px;
    width:45%;
    float : left;
}

#commentaires
{
    border-left: solid 1px black;
    padding : 20px;
    width:45%;
    float : left;

}

.eventProfil
{
    margin-top : 10px;
    padding-left : 20px;
}

.comsProfil
{
    margin-top : 10px;
    padding-left : 20px;
}

/* page Event */

.container_event {
    margin: auto;
    width: 900px;
}

.container_event h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #323C5A;
}

#profilEvent
{
    border : solid 1px #EAEAEA;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

    margin : 10px 10px 10px 0px;
    float : left;
    padding : 1%;
    width : 65%;
    background-color: #FFF;
}

#infosEvent
{
    float : right;
    padding : 1%;
    width : auto;
    margin : 0px;
}

#infosOrganisateur
{
    border : solid 1px #EAEAEA;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

    padding : 8px;
    background-color: #FFF;
}

#descriptionEvent
{
    border : solid 1px #EAEAEA;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    margin : 10px 10px 10px 0px;
    float : left;
    padding : 1%;
    width : 65%;
    background-color: #FFF;
}

#infosComplementairesEvent
{
    float : right;
    padding : 1%;
    width : 27%;
    margin : 8px 0px 8px 8px;
    border : solid 1px #EAEAEA;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
}

#infosLieu
{
    height : 220px;

}

#participationEvent
{
    margin-top: 5px;
    border : solid 1px black;
    padding : 8px;
}

.cadre
{
    width: 900px;
    padding : 1%;
    border : solid 1px #EAEAEA;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    padding : 8px 30px 8px 30px;
    background-color: #FFF;
}

.cadre h1 {
    margin-left: -22px;
    font-size: 20px;
    font-weight: 600;
    color: #323C5A;
}

.cadre p {
    margin-left: -22px;

}

//-------------AVIS-------------

ul.notes-echelle {
	margin:0;
	padding:0;
	font:.75em/1.2 Arial, Helvetica, sans-serif;
}
ul.notes-echelle li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}

* html ul.notes-echelle.js li {
	width:20px;
	height:20px;
}
ul.notes-echelle li label {
	display:block;
	text-align:center;
	line-height:20px;
	background:url(../img/etoile.gif) center top no-repeat;
	cursor:pointer;
}

ul.notes-echelle li.note-off label {
	background-position:center -60px;
}

ul.notes-echelle.js input {
	position:absolute;
	left:-999%;
}

.noteCom {
	display:block;
	text-align:center;
	line-height:20px;
	background:url(../img/etoile.gif) center top no-repeat;
	cursor:pointer;
        float:left;
	width:20px;
	height:20px;
}

/* Map css */

div#map {
    position: relative;
    width : 100%;
    height : 100%;
}

div#map_canvas {
    width : 200px;
    height : 200px;
}

div#crosshair {
    position: absolute;
    top: 192px;
    height: 19px;
    width: 19px;
    left: 50%;
    margin-left: -8px;
    display: block;
    background: url(./Vue/map/crosshair.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

/* Header */
.logo-reseau
{
    height: 28px;
    border-radius: 50%;
}

.lien-reseau
{
    margin-right: 5px;
}

.bold
{
    font-weight: bold !important;
}

.btn-orange
{
    background-color: #FF7E00;
    border-color: #FF7E00;
    color: white;
}
.btn-orange:hover
{
    background-color: #FA6400;
    border-color: #FA6400;
    color: white;
}

.text-orange
{
    color: #FF7E00;
}

.text-orange:hover
{
    color: #FA6400;
}

/* Accueil */
#slider
{

}

#barreRecherche
{
    text-align: center;
    padding-top : 5px;
    padding-bottom : 5px;
    background-color: rgba(0, 0, 0, 0.5)
}

#trierPar
{
    margin: 15px 50px;
    float: right;
    width: 100px;
}

/* Back office */
#menuAdmin
{
    text-align: center;
}

#listeUtilisateur
{
    margin-left: 30%;
}

#listeFAQ
{
    margin-left: 35%;
}

#tableUtilisateur
{
    width : 100%;
}

#tableFAQ
{
    width : 70%;
    margin-left: 25%;
}

#tableLabel
{
    width : 12%;
}

#tableValeur
{
    width : 35%;
    text-align: right;
}

#boutons
{
    text-align: center;
}

#choixTheme
{
    width: 140px;
    padding: 6px 3px;;
}

.input
{
    border: 1px solid gray;
    border-radius: 3px;
    text-align: left;
    padding: 2px 6px;
}

h2
{
    text-align: center;
}

.text-area
{
    resize: none;
}

.description
{
    float:left;
    margin: 10px;
    border: none;
    width: 610px;
    height: 100px;
    background-color: transparent;
}
