#content {
    width : 900px;
    margin-left : 10%;
    border : solid 1px black;
    
}

#clear {
    clear : both;
}

#formInscription{
    margin : 10%;
    width : 700px;
}

fieldset {
    padding : 30px;
}

label {
    width : 100px
}

#agenda {
    float : left;
    width:45%;
}

#commentaires {
    float : left;
    width:45%;
}
    
.ui-widget
{
    font-size: 0.8em !important;
}

.date
{
    text-align: center;
    width: 200px;
}